#
# DancePuffDuo.wps originally made by Chris Oxtoby
# Original uploaded by Stephen Carrol 2010-3-2
#
# Converted to 320x240 (and viewports) by P Poorten Feb 2018.  Icons from original, script largely rewritten.
#
# CCA3 licence
wps: /.rockbox/wps/DancePuffDuo.wps
sbs: -
rsbs: -
font: /.rockbox/fonts/14-Nimbus.fnt
foreground color: 000000
background color: B0C0E5
remote statusbar: top
statusbar: off
backdrop: -
selector type: bar (inverse)
iconset: 
viewers iconset: 
rwps: /.rockbox/wps/DancePuffDuo.rwps
ui viewport: 16,32,343,256,1,-,-
