#Theme Name: FSM(Flying Spaghetti Monster) 
#Platform: iPod Video - Standard Build
#Version 3.0
#Created By: Jeffrey Rodriguez (jtrodriguez on Forums)
#License CC-BY-SA
#
#"Touched By His Noodly Appendage" credit to Niklas Jansson  http://itchstudios.com/psg/
#"Pirate Fish" credit to http://www.venganza.org



wps: /.rockbox/wps/FSM.wps
sbs: /.rockbox/wps/FSM.sbs

font: /.rockbox/fonts/11-Nimbus.fnt
foreground color: 53493d
background color: b39e7e
show icons: off
statusbar: off
backdrop: /.rockbox/backdrops/FSM.bmp
selector type: bar (inverse)
iconset: /.rockbox/icons/FSM.16x16x16.bmp

