#FullScreen WPS theme, created by Ben Zavala
#This work is licensed under a Creative Commons Attribution-Share Alike 3.0 Unported. 
wps: /.rockbox/wps/AAFreak.wps
font: /.rockbox/fonts/nimbus-13.fnt
iconset: /.rockbox/icons/AAFreak_tango_small.bmp
viewers iconset: /.rockbox/icons/tango_small_viewers.bmp
line selector start color: fde89e
line selector end color: b58c00
selector type: bar (gradient)
line selector text color: 000000
foreground color: FFFFFF
background color: 000000
backdrop: /.rockbox/backdrops/AAFreak.bmp
statusbar: top
scrollbar: right