##############################################################################################
# Theme: Jive - James Stevenson																 #
# Version 1.0																				 #
# Last Update: 10/05/2026																     #							
#																							 #
# Theme built off the back of many other great themes: 										 #
# Based on Jony Ive's design principal that a UI should fade into the background without     #
# drawing undue attention, leaving you focused on interaction with your music!				 #
#																							 #
# Theme goals: 																				 #
# - Room for long track titles fully on-screen												 #
# - This does mean using a tiny font, but I believe SF-Pro remains legible... just! 		 #
# - Simple, clean, uncluttered UI with just the bare minimum info needed					 #
#																							 #
# I learned so much from dissecting others' great work here. 								 #
# Extra special thanks to the authors of:													 #
# Satellite - Jihoon Kim																	 #
# Horizon - Jihoon Kim																		 #
# Adwataitapod - evan Dook																     #
# iPod reFresh 1-4 -  Ciprian Dragu															 #
# All of these influenced mine, so thank you for your hard work! 							 #
##############################################################################################

## Config File ##

wps: /.rockbox/wps/Jive_mono.wps
sbs: /.rockbox/wps/Jive_mono.sbs
font: /.rockbox/fonts/20-MPLUSRounded1c-Medium.fnt
background color: 000000
foreground color: ffffff
statusbar: off
scrollbar: off
show icons: off
selector type: bar (color)
line selector start color: 6B6B6B
line selector text color: ffffff
iconset: -
viewers iconset: -