#Theme Name: XPloRR
#Platform: iPod Video/Classic 6G (320x240x16) - Standard build
#Version: 2.6
#Last updated: 21-02-2016
#
# CFG File
#
selector type: pointer
statusbar: off
scrollbar: off
scrollbar width: 3
show icons: off
foreground color: FFFFFF
background color: 000000
font: /.rockbox/fonts/12-Nimbus.fnt
wps: /.rockbox/wps/xplorr.wps
sbs: /.rockbox/wps/xplorr.sbs
backdrop: /.rockbox/backdrops/xplorr_bd.bmp
ui viewport: -