# Theme name: nerdSketch
# by: Humberto Santana (humbertosantana@hotmail.com)
# Version: 4.0
# Last updated: October 25th, 2010
# First version: July 10th, 2008
#
# License: Creative Commons Attribution-Noncommercial-ShareAlike License 3.0 (http://creativecommons.org/licenses/by-nc-sa/3.0/)
# Font license: Mattt's rope by Matt Chrisholm. Licensed under the GNU GPL http://www.theory.org/~matt/fonts/free/?font=mwtsrc
# Iconset: Derived from Pen & Paper Theme's iconset by Johan Swetzen, under Creative Commons Attribution-Share Alike 3.0 License (http://www.rockbox.org/twiki/bin/view/Main/WpsIpod5g#PenPaper) 
#
# If used for other works, as per this license, please include the following Attribution Text: "Modified/Derived from nerdSketch theme for iPod Video (CC-BY-SA 3.0) by Humberto Santana"
#
# CFG File
#
wps: /.rockbox/wps/nerdSketch.wps
sbs: /.rockbox/wps/nerdSketch.sbs
backdrop: /.rockbox/backdrops/nerdSketch_bd.bmp
font: /.rockbox/fonts/matttsro-11.fnt
foreground color: 716a2e
background color: ffff7a
selector type: pointer
statusbar: off
iconset: /.rockbox/icons/nerdSketch.18x18.bmp
viewers iconset: /.rockbox/icons/nerdSketch_viewers_temp.bmp
ui viewport: -