#Theme Name: cabbie 3.0
#By Johannes Voggenthaler (Johannes.Voggenthaler@naturalbornyoers.com; Zinc Alloy on forum and IRC)
#Platform: 320x240 (Ipod Video)
#Version: 7
#Licensed CC-BY-SA 3.0
#Last updated: Sep 03 2008
wps: /.rockbox/wps/cabbiev3.wps
font: /.rockbox/fonts/15-Adobe-Helvetica.fnt
foreground color: CCCCCC
background color: 000000
backdrop: -
line selector start color: fde89e
line selector end color: b58c00
selector type: bar (gradient)
iconset: -
viewers iconset: -
line selector text color: 000000
filetype colours: -
