# Theme name: Deep Sea
# Modified by: Alex Lototskaia murella@gmail.com (murella on the forum)
# Original Theme: "�abbie 2.0 default" (c) Johannes Voggenthaler (Zinc Alloy)
# License: Creative Commons Attribution-ShareAlike License 3.0 (http://creativecommons.org/licenses/by-sa/3.0/)
# Platform: iPod 5G (320x240x16) - Standard build
# Version: 1.0
# Last updated: Sunday, September 13th 2009

wps: /.rockbox/wps/deep_sea.wps

font: /.rockbox/fonts/15-Adobe-Helvetica.fnt

foreground color: CCCCCC


background color: 037a9e

statusbar: top

backdrop: /.rockbox/backdrops/deep_sea.bmp

line selector start color: b3ff95

line selector end color: 77ff41
selector type: bar (gradient)

iconset: -

viewers iconset: -

line selector text color: 000000

filetype colours: -
