#Theme Name: CenterArt
#By: Wesley (Yotto on the Forums)
#Platform: ipodVideo (320x240x16) - For 3.7.1 and (so far) onward.
#Version: 4.0
#Licenced CC-BY-SA 3.0
#Last updated: 2011/02/16

wps: /.rockbox/wps/CenterArt.wps
sbs: /.rockbox/wps/CenterArt.sbs
iconset: /.rockbox/icons/default-white_icons.6x8x16.bmp
viewers iconset: /.rockbox/icons/default-white_viewers_6x8x16.bmp
backdrop: -
foreground color: FFFFFF
background color: 000000
selector type: bar (inverse)
font: /.rockbox/fonts/14-Terminus-Bold.fnt
scrollbar: left
scrollbar width: 10
filetype colours: /.rockbox/themes/CA_DarkBG.colours