#Theme Name: AF_Flow 
#By: AsusFreak 
#Platform: Cowon D2 (320x240) - Standard build
#Version: 4.0
#Last updated: May 7th, 2012

wps: /.rockbox/wps/AF_Flow.wps
sbs: /.rockbox/wps/AF_Flow.sbs
fms: /.rockbox/wps/AF_Flow.fms
font: /.rockbox/fonts/12-Adobe-Helvetica-AF.fnt
iconset: /.rockbox/icons/tango_small1.bmp
viewers iconset: /.rockbox/icons/tango_small_viewers1.bmp
line selector start color: 3048C8
line selector end color: 5064F8
selector type: bar (gradient)
line selector text color: FFFFFF
foreground color: CCCCCC
background color: 000000
backdrop: /.rockbox/backdrops/AF_Flow.bmp
statusbar: off
scrollbar: left
scrollbar width: 5
ui viewport: -
show icons: yes