#Theme Name: AF_Metal 
#By: AsusFreak 
#Platform: Cowon D2 (320x240) - Standard build
#Version: 4.0
#Last updated: June 3rd, 2010

wps: /.rockbox/wps/AF_Metal.wps
sbs: /.rockbox/wps/AF_Metal.sbs
fms: /.rockbox/wps/AF_Metal.fms
font: /.rockbox/fonts/18-Adobe-Helvetica-AF.fnt
foreground color: 202020
background color: 000000
backdrop: /.rockbox/backdrops/AF_Metal.bmp
selector type: bar (gradient)
line selector start color: 506271
line selector end color: 6A7B95
line selector text color: FFFFFF
iconset: /.rockbox/icons/elisherer.16x16x16.bmp
viewers iconset: /.rockbox/icons/elisherer_viewers.16x16x16.bmp
filetype colours: -
statusbar: off
scrollbar: right
ui viewport: -
