# Theme: Azure
# By: Thanos Tsakiris (atsakir@yahoo.com)
# License: CC-BY-SA 3.0 Creative Commons Attribution-Share Alike 3.0 (http://creativecommons.org/licenses/by-sa/3.0/)
#
# Version 1.0: May 22, 2010
#
# CFG File
#
wps: /.rockbox/wps/BeoBox.wps
sbs: /.rockbox/wps/BeoBox.sbs
#
backdrop: /.rockbox/backdrops/BeoBox.bmp
font: 16-Terminus.fnt
foreground color: ffffff
background color: 2D2F2D
statusbar: off
scrollbar: left
line selector start color: 00293e
line selector end color: 29b2f7
selector type: bar (gradient)
line selector text color: ffffff
iconset: oxygen.16x16-gray.bmp
viewers iconset: tango_viewers.20x16x16-gray.bmp
ui viewport: -
