# Theme by Guillaume Cocatre-Zilgien <gcocatre@gmail.com>
# CC-BY-SA
# 2014-01-22
# Based on iClassic Square, by Humberto Santana
fms: /.rockbox/wps/iBox.fms
wps: /.rockbox/wps/iBox.wps
sbs: /.rockbox/wps/iBox.sbs
selector type: bar (gradient)
backdrop: /.rockbox/backdrops/iBox.bmp
filetype colours: -
foreground color: 000000
background color: ffffff
line selector start color: 6ba6de
line selector end color: 186dbd
line selector text color: ffffff
font: /.rockbox/fonts/14-Nimbus.fnt
statusbar: off
iconset: /.rockbox/icons/tango_small.bmp

show icons: on
ui viewport: -
