# Bookshelf v0.9b
# by Arin Kim
# Based on Iris by Glass Ocean
# Optimised for 320x240
wps: /.rockbox/wps/Bookshelf.wps
sbs: /.rockbox/wps/Bookshelf.sbs
font: /.rockbox/fonts/16-Inter-Medium.fnt
show icons: on
foreground color: e0def4
background color: 191724
show icons: off
line selector start color: c4a7e7
line selector end color: c4a7e7
line selector text color: 191724
selector type: bar (gradient)
filetype colours: -
backdrop: -
statusbar: top
scrollbar: off
ui viewport: -
