# Theme by Guillaume Cocatre-Zilgien <gcocatre@gmail.com>
# CC-BY-SA
# 2014-01-12
# http://outpost.fr/rockbox/
fms: /.rockbox/wps/Googley-Classic-Storm.fms
wps: /.rockbox/wps/Googley-Classic-Storm.wps
sbs: /.rockbox/wps/Googley-Classic-Storm.sbs
selector type: bar (color)
backdrop: /.rockbox/backdrops/Googley-Classic-Storm.bmp
filetype colours: -
foreground color: 555555
background color: ffffff
line selector start color: dddddd
line selector end color: dddddd
line selector text color: 222222
font: /.rockbox/fonts/14-Nimbus.fnt
#font: /.rockbox/fonts/19-Nimbus.fnt
statusbar: off

#iconset: /.rockbox/icons/tango_small.bmp
#viewers iconset: /.rockbox/icons/tango_small_viewers.bmp

#iconset: /.rockbox/icons/tango_small_grayscale.bmp
#viewers iconset: /.rockbox/icons/tango_small_grayscale_viewers.bmp

# modified version of Asian Clip+, by Jack Zhou <cybersach[AT]gmail[DOT]com>
# CC-BY-SA 3.0
iconset: /.rockbox/icons/Googley.bmp
viewers iconset: /.rockbox/icons/Googley.bmp

show icons: on
ui viewport: -
