#######################################
## THEME NAME: dst (d's simple theme)
## BY D Juarez  2025
# Hi everyone! This is my latest theme.
# It's s simpler take on my previous
# theme digitalRedux. It's gone through
# many iterations until I finally landed
# on this one, which I"m really fond of.
# The typeface is a mixture of M PLUS
# Rounded and Noto Sans taken from the
# Google fonts pages. This also includes
# the unicode characters. Please, if you
# spot any erros in the typeface (like
# missing characters) please let me know
# in the forum or the Rockbox subreddit.
# Happy listening!
#
# Version 1.1 Update:
# Changelog:
#    * Revised battery icon
#    * Revised battery icon logic
#    * Altered themes (shouldn't be noticeable)
#    * Alignment fixed
#    * Split or whole screen logic change
# Happy listening!
#######################################
#### CFG FILE ########################

wps: /.rockbox/wps/dst_dark.wps
sbs: /.rockbox/wps/dst_dark.sbs
show icons: off
backdrop: -
font: /.rockbox/fonts/17-MPLUSRounded1c-Medium_EXTENDED_V1_C1.fnt
foreground color:  ffffff
background color: 000000
selector type: bar (color)
line selector start color: fffffff
line selector text color: 000000
statusbar: custom
scrollbar: off
ui viewport: -

#bidir limit: 0
#backlight fade in: 0
#backlight fade out: 0
#scroll speed: 15
#scroll delay: 3000
#scroll step: 1
#qs top: brightness
#qs bottom: brightness
