#
#__OSSA
#__by__Arin__Kim
#__based on BONES by CHUCK_LARDO
#__licence__CC-BY-SA 4.0
#__version__1.0
#__2026
#__target resolution 320x240
#__tested on Surfans F20
#
#
#
#__CFG File
#
#
wps: /.rockbox/wps/OSSA.wps
sbs: /.rockbox/wps/OSSA.sbs
fms: -
#
background color: 141414
foreground color: fafafa
ui viewport: -
statusbar: off
scrollbar: off
show icons: off
selector type: bar (inverse)
#
#
