# LookAtMe by Serge Fnstll
# 2026-06-23 v1.0

wps: /.rockbox/wps/LookAtMe.wps
sbs: /.rockbox/wps/LookAtMe.sbs
foreground color: e3e3e3
background color: 000000
font: /.rockbox/fonts/16-Inter-Bold.fnt
statusbar: off
scrollbar: off
battery display: graphical
show icons: off