# Cabbiev2++ was expanded from cabbiev2 by Brian Marchant, 2012. Works with release 3.7+
# Added:
# Peakmeter (with nice background); Shrunken cabbie2 Status/Volume icons on Browser/Menu screens;
# Now-Playing track info on Menu screens (when play/pause only); Browser area expands if now-playing info is not shown;
# Track-ending warnings (flashing); Alternating file info line; Hard Disk Drive 'LED'; Larger cover-art;
# Background for Browser; Modified track info display; Finer resolution (more bitmaps) for Volume display;
#
wps: /.rockbox/wps/cabbiev2++.wps
sbs: /.rockbox/wps/cabbiev2++.sbs

font: /.rockbox/fonts/14-Nimbus.fnt
foreground color: CCCCCC
background color: 000000
statusbar: top
backdrop: /.rockbox/backdrops/cabbiev2++.bmp
line selector start color: fde89e
line selector end color: b58c00
selector type: bar (gradient)
iconset: /.rockbox/icons/CabbieV2PlusPlus_tango_small.bmp 
viewers iconset: /.rockbox/icons/tango_small_viewers.bmp
line selector text color: 000000
