#Theme Info Header
#
#Theme Name: Amarok
#By: gary_light14@yahoo.ca (lights0ut on Forums/IRC)
#Platform: Ipod Video (5/5.5G) (320x240x16) - Current build
#Version: 0.1 
#Licenced CC-BY-SA 3.0
#Last updated: 6 Sept 2008
#Credits: 
#WPS - Amarok : http://amarok.kde.org
#Icons - Oxygen(KDE4) : http://kde.org
#Font - lucidia Sans : http://rasher.dk/rockbox/fonts/75dpi/
#Backdrop - bluecurl.bmp KDE4 : http://kde.org
#
wps: /.rockbox/wps/amarok
font: /.rockbox/fonts/18-Inter-SemiBold.fnt
foreground color: dee1db
background color: 000000
backdrop: /.rockbox/backdrops/amarok.bmp
line selector start color: 789BBE
#line selector end color: b58c00
line selector end color: 25384E
#2B52BE
selector type: bar (gradient)
iconset: /.rockbox/icons/oxygen.bmp
viewers iconset: -
line selector text color: dee1db
filetype colours: -
