# Theme name: Pen&Paper_plus
# by: Humberto Santana (humbertosantana@hotmail.com)
# Derived from "Pen&Paper" Theme by: Johan Swetz�n jswetzen@gmail.com (jswetzen on the forum)
# License: Creative Commons Attribution-ShareAlike License 3.0 (http://creativecommons.org/licenses/by-sa/3.0/)
# Font license: Mattt's rope by Matt Chrisholm. Licensed under the GNU GPL. The TrueType font is available at http://www.theory.org/~strthrwr/fonts/free/index.php?font=mwtsrc
#
# Version 4.0
# Last updated: May 19th, 2010
# First Pen&Paper_plus version: April 29th, 2008
# Original Pen&Paper version: August 15th(?), 2007
#
# CFG File
#
wps: /.rockbox/wps/Pen&Paper_plus.wps
sbs: /.rockbox/wps/Pen&Paper_plus.sbs
backdrop: /.rockbox/backdrops/Pen&Paper_plus_bd.bmp
font: /.rockbox/fonts/matttsro-12.fnt
foreground color: 6C6A6A
background color: FFFFFF
selector type: pointer
statusbar: off
iconset: /.rockbox/icons/penpaper.24x24x16.bmp
viewers iconset: /.rockbox/icons/penpaper-viewers.24x24x16.bmp
ui viewport: -