#RockFlow, modified from Cover Flow by MrMEC.  Enjoy!
wps: /.rockbox/wps/RockFlow.wps
font: /.rockbox/fonts/14-Nimbus.fnt
viewers iconset: /.rockbox/icons/tango_small_viewers.bmp
line selector start color: fde89e
line selector end color: b58c00
selector type: bar (gradient)
line selector text color: 000000
foreground color: FFFFFF
background color: 000000
backdrop: /.rockbox/backdrops/RockFlow.bmp
statusbar: top
scrollbar: off