#######################################
## THEME NAME: digitalRedux (Version 2.0)
## BY D Juarez  December 2025
## Hi everyone! This is the updated version of my take on
## the digital Theme. At this point I'm comfortable with calling
## it my own work as pretty much all of the code is mine.
## Changelog:
## * Removed icon sets and loading icons and replaced them with
##   unicode characters
## * Different fonts for CJK support
## * Split screens if music is playing
## * New colorscheme
## * Modified battery icon and icon display logic
##
## Comments or questions, let me know on the Rockbox forums or
## on the Rockbox subreddit
## Happy listening! :)))))
#######################################
## PREVIOUS THEME DIGITAL
## BY: TBX1024 (AT) GMAIL (DOT) COM
## PLATFORM: IPOD CLASSIC (IPOD 6G/6.5G/7G) (320*240)
## VERSION: 1.0
## Sat Mar 15 10:54:44 CET 2014
## License: Creative Commons Attribution-Share Alike 3.0
## (http://creativecommons.org/licenses/by-sa/3.0/)
########################################
## ORIGINAL THEME:
## THEME NAME: MINIMAL RETRO
## BY: SDENT64 (AT) HOTMAIL (DOT) COM
## PLATFORM: SANSA FUZE V2 (220x176x16)
## VERSION: 0.1
#######################################
#### CFG FILE ########################

wps: /.rockbox/wps/digitalRedux.wps
sbs: /.rockbox/wps/digitalRedux.sbs
show icons: off
backdrop: -
font: /.rockbox/fonts/18-MPLUSRounded1c-Medium_EXTENDED_V1.fnt
foreground color:  ffffff
background color: 000000
# selector type: bar (color)
selector type: pointer
line selector start color: ffffff
line selector text color: 000000
statusbar: custom
scrollbar: off
ui viewport: -

# bidir limit: 0
# backlight fade in: 0
# backlight fade out: 0
# scroll speed: 15
# scroll delay: 3000
# scroll step: 1
# qs top: brightness
# qs bottom: brightness
